
<!-- Interpolation -->
<h1>Welcome to {{hotalName}}</h1>


<!-- Property binding -->
<div [hidden]="hideRooms">
numberOfRooms:
<div [ngStyle]="{'color' : rooms.avilableRooms ? 'green' : 'red'}" [innerText]="numberOfRoom"></div>

</div>

<!-- Event Binding -->
<button (click)="toggle()">Toggle</button>

<!-- Built in Directives -->
<!-- {{rooms?.avilableRooms ?? 'No rooms'}} -->
 <!-- {{roomList | json}} -->




<div *ngIf="rooms.avilableRooms>0">
    Rooms List
    <!-- {{roomList}} -->
     <Hotal-rooms-list [rooms]="roomList" (selectedRooms)="selectRoom($event)"></Hotal-rooms-list>
   
</div>

<!-- null collision operatior {{rooms.avilableRooms ?? 'No rooms'}} -->